

.wrapper{
  min-height: calc(100vh - $footerHeight );
}

footer {
  height: $footerHeight ;
@extend %verticalMiddle;
}

.social li {
  display: inline-block;
  margin: 0 10px;
}

[class^="icon-"] {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../#{$imgPath}/sprite.svg");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.icon-facebook {
  background-position: 0 -32px;
}
